body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

#posters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

a {
  display: block;
  margin-top: 10px;
  background: red;
  color: white;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
}
